DB_NAME=netbox
DB_USER=netbox
DB_PASS=change-me
DB_PASSWORD=change-me
POSTGRES_PASSWORD=change-me
SUPERUSER_USER=netbox
SUPERUSER_PASS=change-me

REDIS_PASSWORD=change-me
REDIS_CACHE_PASSWORD=change-me

SECRET_KEY=change-me
API_TOKEN_PEPPER_1=change-me

SOCIAL_AUTH_OIDC_KEY=change-me
SOCIAL_AUTH_OIDC_SECRET=change-me
